* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img { max-width: 100%; }

[class*=grid] {
    margin:0;
}

html {
    scroll-behavior: smooth;
}


/* Utility Classes */
.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }

.padded    { padding: 5%;    }
.padded-05 {padding: 0.5rem;}
.padded-1  { padding: 1rem;  }
.padded-2  { padding: 2rem;  }

.padded-t  { padding-top: 5%;    }
.padded-b  { padding-bottom: 5%; }
.padded-l  { padding-left: 5%;   }
.padded-r  { padding-right: 5%;  }

.padded-0 { padding: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-t-0 { padding-top: 0; }
.margin-b-0 { margin-bottom: 0; }

.light-border {border: 2px solid white;}

/* .bg-rust  { background-color: #d3b4a2; }
.bg-green { background-color: #9b9b81; }
.bg-dark  { background-color: #a2745c; }
.bg-light {background-color: white;}
.bg-grey {background-color:rgb(240,240,240);} */

.bg-blue  { background-color: #43638e; }
.bg-green { background-color: #9b9b81; }
.bg-dark  { background-color: #2a3e59; }
.bg-light {background-color: white;}
.bg-grey {background-color:rgb(245, 245, 245);}



.project {max-height: 70vh;}

.light-text { color: white; } 
.color-text {color: #ffca3a;}
.dark-text {color: black;}

.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }



/* Typography */
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: rgb(60,60,60);
}

h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-size: 3rem;
    color: #ffca3a;
    font-style: normal;
}

h2,h3,h4,h5,h6 {
    margin-bottom: 0.5rem;
    letter-spacing: -0.01em;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p {
 	font-weight: 300;   
 	line-height: 1.3;
 	margin-bottom: 0.8rem;
 	font-size: 1.2rem;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: inherit;
}

nav a {
    text-decoration: none;
    padding: 0.25rem;
}

ul {
    line-height: 1.5em;
}

span{
    font-weight: 700;
}


.subtle { 
    opacity: 0.8;
    font-size: 0.9rem;
}

.job {
    font-weight: bold;
    margin-bottom:0;
  }


/* Header & Footer  */
header {
    padding: 2% 5%;
}

.button {
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #dfe7fd;
    border-radius: 35px;
    margin: 0.5rem;
    padding: 0.5rem 0.8rem;
    opacity: 0.6;
    transition: 0.3s;
}

.button:hover {
    opacity: 1;
    background-color: #ffca3a;
    
}

footer a:hover { 
    color: #ffca3a; 
}

footer a {
    font-size: 1.1rem;
}

footer h3 {
    font-size: 4rem;
}


.inline a:first-child {
    margin-top: 5%;
}
.inline a {
    display:inline-block;
    padding: 0.5rem;
  }


/* Background Images */
.bg-image {
    background-color: rgb(240,240,240); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.bg-meeting {
    background-image: url('images/hilton-head.JPG');
    background-position: 50% 38%;
}

.bg-plant {
    background-image: url('images/plant.JPG');
    background-position: center;
}



/* NEW Leadership Cards */

.icon-section img {
    max-width: 3rem;
    opacity: 0.8;
    margin: 1rem 0;}

.card {
    padding: 2rem;
    background-color: white;
    border-radius: 5px;
    border: 2px rgb(245, 245, 245);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
    min-height: 100%;
  }

.card-projects {
    padding: 2rem;
    margin: 2rem;
    background-color: #ffca3a;
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
    min-height: 100%;
  }

  .card:hover {
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.4), 0 10px 20px -5px rgba(0, 0, 0, 0.4);
    margin-top:-2px;
  }

 .card-projects:hover {
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.4), 0 10px 20px -5px rgba(0, 0, 0, 0.4);
    margin-top:-2px;
  }

  .profile {
    width: 100%;
    max-width: 8rem;
    border-radius: 100%;
    margin-bottom: 2rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
  }
  
  .card .date .card-projects {
    margin-bottom: 2rem;
  }

  /* Projects Section */
div.grid > div.align-top {
    align-self: stretch;
}
 

  /* NEW Testimonials */

  hr { /* this is a line element */
    border: none;
    border-bottom: 3px solid;
    width: 4rem;
    margin-bottom: 1rem;
  }
  
  .profile-small {
    max-width: 8rem;
    width: 100%;
    border-radius: 100%;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
  }

  /* SM - max-width in pixels approximately 768px */
@media(max-width: 48em) {

    .hide-sm { display: none; }

    .center-sm { text-align: center; 
                padding: 3%;}

    .flex-flip-sm { flex-direction: column-reverse; }

    .inline {
        text-align: left;
        margin: 0;
    }

    .bg-meeting {
        display: none;
    }

    footer a:first-child {
        padding-top: 0;
        margin-top:0;}

    .hidden {
        display: none;
    }

    .bg-plant {
        background-color: rgb(245, 245, 245);
        background-image: none;
    }
}
